<div id="favorite-<%= book.id %>" class="mb-3">
  <% if current_user && current_user.favorited?(book) %>
    <%= link_to favorite_path(book), class: "custom-fav-button custom-fav-button i", data: {turbo_method: :delete} do %>
      <i class="fa-solid fa-heart text-danger"></i> Favorited
    <% end %>
  <% else %>
    <%= link_to book_favorites_path(book), class: "custom-fav-button custom-fav-button i", data: {turbo_method: :post} do %>
        <i class="fa-regular fa-heart text-danger"></i> Add to Favorites
    <% end %>
  <% end %>
</div>
