<div class="container mt-5">
  <h1>Favorites</h1>
  <!-- Copy 3 divs class below from books/index -->
  <div class="cards-area row g-4">
    <% if @books.present? %>
      <% @books.each do |favorite| %>
        <div class="col-sm-6 col-md-4 col-lg-3 d-flex">
          <div class="card rounded h-100">
            <% if favorite.cover_image.attached? %>
              <%= image_tag favorite.cover_image %>
            <% else %>
              <p>No cover image available.</p>
            <% end %>
            <div class="book-title"><strong><%= favorite.title %></strong></div>
            <div class="book-author"><%= favorite.author %></div>
            <%= render partial: "favorites/create", locals: { book: favorite } %>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="message-no-favorite">
        You don't have any favorite books yet. Tap on the Favorite button inside a book to see them here!
      </div>
    <% end %>
  </div>
</div>
