<div class="card" style="width: 18rem;">
  <%= image_tag "card-thumbnail.png" %>
  <div class="card-body">
    <h2 class="card-title" style="margin-bottom: 0.75rem;">The Story of a Fierce Bad Rabbit</h2>
    <h3 class="card-text" style="margin-bottom: 0.5rem;">Beatrix Potter</h3>
    <p class="card-text" style="line-height: 22px;">Bad Rabbit steals a carrot, gets shot, learns a lesson—brief tale of mischief and justice.</p>
  </div>
</div>
