<div class="topbar">
  <div class="container-fluid">
    <div style="display: flex; justify-content: center; align-items: center; height: 100%;">
      <%= image_tag "logo.png", alt: "text", width: "5%", height: "5%" %>
    </div>
  </div>
</div>
