<div class="text-center my-4">
  <h1>Create Your Own Book</h1>
  <!-- Form gets replaced here -->
  <div id="new_book_form">
    <div id="form_area">
      <%= render "form", book: @book %>
    </div>
  </div>
  <!-- Book card gets appended here -->
  <div id="books-list" class="row mt-5"></div>
</div>
