.custom-button {
  padding: 16px 40px;
  background-color: #5079FF !important; 
  color: white;
  border-radius: 32px;
  color: #FFF;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.custom-button:hover {
  background-color: #4066CC !important;
}
