.custom-fav-button {
  padding: 16px 32px;
  background-color: #ffd6d9 !important; /* Override Bootstrap's primary color */
  color: rgb(61, 61, 61);
  border-radius: 32px; /* Rounded edges */
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-decoration: none;
}

.custom-fav-button i {
  margin-left: 8px; /* Space between text and icon */
}
