.centered-text {
  display: flex;
  justify-content: center;  /* horizontal centering */
  align-items: center;      /* vertical centering */
  text-align: center;
  background-color: #d0e6fa;
  color: rgb(58, 46, 46);
  padding: 10px 15px;
  border-radius: 6px;
  height: 150px;
}
