.centered-text {
  text-align: center;
  background-color: #d0e6fa;
  color: rgb(25, 3, 3);
  padding: 10px 15px;
  border-radius: 6px;
  height: 150px;
}
a {
  background-color: #5079FF;
  border-radius: 8px;
}
