.navbar {
  color: #747474;
  font-weight: 500;
  justify-content: space-between;
  background: white;
  position: fixed;
  box-shadow: drop-shadow(0px -4px 4px 0px #8f8f8f);
  padding-left: 10%;
  padding-right: 10%;
}

.navbar-bottom {
  width: 100%;
}

.navbar-link {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none
  p {
    margin-left: 4px;
  }
}

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.bottom-navbar {
   // all the rest of the css in the class
  flex-shrink: 0; // add this
}
