.pageflip-container {
  width: 100%;
  // height: 100%;
  // margin: 0 auto;
  position: relative;
}

.my-page {
  width: 100%;
  height: 100%;
}

.page-content {
  padding: 20px;
  height: 100%;
  box-sizing: border-box;
}
